
body {
  margin: 20px;
  font-family: Arial, sans-serif;
  background-image: url("https://raw.githubusercontent.com/Frederik-Zimmermann/IT-Labor/main/brot.jpg"); /* eine Ebene höher */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
th, td {
  border: 1px solid #333;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  background: #fff;
}
thead {
  background: #ddd;
  font-weight: bold;
}
